# Node.js dependencies
node_modules/

# React production build
build/

# Environment variables
.env

# User uploads
/uploads/pages/*
!/uploads/pages/default-forum-image.png
!/uploads/pages/default-profile.png

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# VSCode settings
.vscode/
