/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00103c; /* Updated background color */
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer; /* Ensure navbar-left is clickable */
}

/* Left section (Logo only, clickable) */
.navbar-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.homepage-button {
    margin-right: 10px;}

/* Logo Image */
.navbar-logo-image {
    width: 85px;
    height: 90px;
    object-fit: contain;
    transition: transform 0.2s ease;
}

/* Right section (profile picture and logout button) */
.navbar-right {
    display: flex;
    align-items: center;
}

/* Profile picture */
.navbar-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Logout button */
.navbar-logout-button {
    padding: 8px 15px;
    background: linear-gradient(145deg, #ff4d4d, #d40000);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-logout-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
